[submodule "RooFitExtensions"]
	path = RooFitExtensions
	#url = https://gitlab.cern.ch/atlas_higgs_combination/software/RooFitExtensions.git 
    url = /atlas_higgs_combination/software/RooFitExtensions.git
    #url = ssh://git@gitlab.cern.ch:7999/atlas_higgs_combination/software/RooFitExtensions.git
